<form ng-submit="submit()", ng-controller="ConfigController", ng-init="init()">
  <h1>Config</h1>
  <p>
    Name
    <input type="text",ng-model="config.name",required></input>
  </p>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Type</th>
      <th>Data Type</th>
      <th>Allowed Values</th>
      <th></th>
    </tr>
    <tr ng-repeat="field in config.fields">
      <td>
        <input type="text",ng-model="field.name",required></input>
      </td>
      <td>
        <input (type="text",ng-model="field.key",required></input>
      </td>
      <td>
        <select ng-model="field.type">
          <option>select</option>
          <option>checkbox</option>
        </select>
      </td>
      <td>
        <select ng-model="field.dataType">
          <option>uint_8</option>
          <option>boolean</option>
        </select>
      </td>
      <td>
        <input type="text",ng-model="field.values",required></input>
      </td>
      <td>
        <button type="button",ng-click="remove($index)">
           <span class="glyphicon glyphicon-remove",aria-hidden="true"></span>
        </button>
      </td>
      </tr>
  </table>
  <input type="submit", id="submit", value="Save"></input>
  <button type="button",ng-click="add()">Add Row</button>
</form>
